<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>

	<connectionStrings>
		<add name="FalkeDB" connectionString="Server=.;Database=FalkeDB;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<add key="FALKE_BASE_URL" value="http://localhost:53192/" />
		<add key="FALKE_AES_KEY" value="dNQ1lGyAqhJVRIJqeW0kayle0DPRf+FeMMNuHJ76m/o=" />

		<add key="FALKE_EMERGENCY_USER" value="admin" />

		<add key="FALKE_EMERGENCY_HASH" value="8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"/>
	</appSettings>
</configuration>
